* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {}

@media(min-width:370px) {
    /* Headline section style*/
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    .background-image {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .myName {
        font-size: 40px;
        line-height: 52px;
        padding: 0px 24px;
        width: 78%;
    }
    p {
        font-size: 16px;
        padding: 0px 24px;
        color: #344563;
    }
    .linkflex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
    }
    .linkflex a {
        text-decoration: none;
        color: #7f8cff;
    }
    .social-media {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    .social-media ul {
        list-style-type: none;
        margin-left: 24px;
    }
    .social-media li {
        font-size: 25px;
        padding: 10px;
        padding-left: 0;
    }
    .social-media-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .background-social-media {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}